{% extends 'characterforge/layout.html' %}
{% block main %}
<div class="progress mb-5" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 75.99%"></div>
</div>
<div class="row" style="color: white;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 style="text-align: center;">Choose Your Character's Spells</h1>
        <hr>
        <p style="text-align: center;">
          Spells in Dungeons & Dragons are the manifestations of magic, an integral part of the fantasy world. Each spellcasting class accesses this magical power uniquely, crafting spells through divine gifts, innate abilities, rigorous study, or mystical pacts.
        </p>
        <small style="text-align: left;">
          <p class="mb-1">• Clerics and Paladins channel divine magic granted by their deities.</p>
          <p class="mb-1">• Bards weave spells through the power of words and music, tapping into the magic of creation.</p>
          <p class="mb-1">• Druids and Rangers draw from the raw energy of nature and its deities.</p>
          <p class="mb-1">• Sorcerers are born with an innate ability to harness arcane magic, often through a twist of fate.</p>
          <p class="mb-1">• Wizards meticulously learn and cast spells through academic study and knowledge.</p>
          <p class="mb-1">• Warlocks gain their magic through a pact with otherworldly entities.</p>
        </small>
        <form class="form-control" method="post" style="background-color: black; color: white; padding: 50px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success col-md-12 mt-4" type="submit">Continue</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
