{% extends 'characterforge/layout.html' %}
{% block main %}
<div class="progress mb-5" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 67.33%"></div>
</div>
<div class="row" style="color: white;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 style="text-align: center;">Choose Your Character's Proficiencies</h1>
        <hr>
        <p style="text-align: center;">
          In Dungeons & Dragons, proficiencies define what your character has mastered, whether it's a type of tool, a weapon, or a set of armor. Being proficient in a weapon adds your proficiency bonus to attack rolls with that weapon, enhancing your combat effectiveness. Tool proficiencies, on the other hand, can unlock unique abilities and advantages in crafting, performing, or other specialized tasks.
        </p>
        <p style="text-align: center;">
          Choose proficiencies that align with your character's class, background, and personal story. These choices will not only shape your character's combat style but also open up new ways to interact with the world and overcome challenges.
        </p>
        <p class="mb-1">Proficiency Examples:</p>

        <p class="mb-1">Weapons (e.g., Longswords, Crossbows, Daggers)</p>
        <p class="mb-1">Armor (e.g., Plate Armor, Leather Armor, Shields)</p>
        <p class="mb-1">Tools (e.g., Thieves' Tools, Herbalism Kit, Musical Instruments)</p>
        <p class="mb-1">Saving Throws (e.g., Strength, Dexterity, Wisdom)</p>
        <p class="mb-1">Skills (e.g., Stealth, Persuasion, Acrobatics)</p>
        <hr>
        <p>
          Remember, the specific proficiencies available to your character are often determined by their class and background. Selecting proficiencies is a key step in defining your character's capabilities and strengths.
        </p>
        <form class="form-control" method="post" style="background-color: black; color: white; padding: 50px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success col-md-12 mt-4" type="submit">Continue</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
