{% extends 'characterforge/layout.html' %}
{% block main %}
<div class="progress mb-5" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 93.33%"></div>
</div>
<div class="row" style="color: white;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1 style="text-align: center;">Choose Your Character's Magic Items</h1>
        <hr>
        <p style="text-align: center;">
          Magic items in Dungeons & Dragons are extraordinary objects imbued with mystical powers. These enchanting items range from armor and weapons to rings and scrolls, each with unique magical effects that can turn the tide of an adventure.
        </p>
        <p>Remember: Magic items are rare and coveted. Your character may start with one or two, but others can be found or earned during your adventures.</p>
        <form class="form-control" method="post" style="background-color: black; color: white; padding: 50px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success col-md-12 mt-4" type="submit">Continue</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}
